body {
    background-color: #f8f9fa;
}

.hero-section {
    padding: 80px 0;
}

.offer-card {
    transition: 0.3s;
}

.offer-card:hover {
    transform: translateY(-5px);
}

.category-card {
    border-radius: 12px;
    font-weight: 600;
}

.footer {
    background-color: #242d43;
    color: white;
    padding: 20px;
    text-align: center;
}

.offer-card{
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 4px 15px rgba(0,0,0,.1);
    transition:.3s;
    background:white;
}

.offer-card:hover{
    transform:translateY(-5px);
}

.offer-image{
    width:100%;
    height:220px;
    object-fit:cover;
}

.category-card{
    background:white;
    border-radius:15px;
    padding:30px 20px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
    transition:0.3s;
    font-size:40px;
}

.category-card:hover{
    transform:translateY(-5px);
}

.category-card h5{
    margin-top:15px;
    font-size:18px;
}

.contact-item,
.social-item{
    display:flex;
    align-items:center;
    gap:12px;
    margin-bottom:15px;
}

.contact-item i,
.social-item i{
    width:20px;
    color:#4da3ff;
}

.social-item{
    justify-content:flex-end;
}

.footer h4{
    margin-bottom:25px;
    font-weight:600;
}
.footer{
    background:#242d43;
    color:white;
    padding:50px 0;
}
.footer a{
    color:white;
    text-decoration:none;
}

.footer a:hover{
    color:#4da3ff;
}